.skill {
  -webkit-text-stroke: 0.7px #10b981;
  background-image: linear-gradient(#10b981, #10b981);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}
.skillCursor {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -18rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}
